<div class="row">
  <%= render 'shared/cover', user: @user %>
  <%= render 'user_nav', view_type: 'profile' %>
  <div class="col-lg-8 col-lg-offset-2 well">
    <center><h4 style="color:purple;font-weight: bold;">
      <%= pluralize(@user.follow_count, 'Friend') %>
    </center>
    <hr>
    <div id="friends">
      <%= render(@friends) || render('shared/no_resource', resources: 'Friends') %>
    </div>
    <center>
      <%= will_paginate @friends, renderer: BootstrapPagination::Rails %>
    <center>
  </div>

</div>