<%= render 'shared/cover', user: @user %>
<%= render 'user_nav', view_type: 'profile' %>
<br>
<div id="user-<%= @user.id %>" class="row">

  <div class="col-lg-6">
    <div class="well">
      <% unless is_current_user?(@user) %>
        <center><p style="color:#660066;font-weight: bold;">
          <%= 'This Person Is Following You' if current_user.followed_by?(@user) %>
          <%= render 'follows/form', user: @user %>
        </center>
      <% else %>
        <center><%= link_to "Edit My Profile", edit_user_path(@user), class: 'btn btn-primary' %></center>
      <% end %>
    </div>
    <%= render 'shared/user_info'%>
  </div>

  <div class="col-lg-6">
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div> <hr>
    <div class="panel panel-default pic-panel">
      <div class="panel-body row">
          <center>
              <h5 style="color:#660066;font-weight: bold;">Founder & CEO: Brima Manso Bangura </h5>
              <b>a Brima Manso Bangura production</b> <br>
              <h5 style="color:#660066;font-weight: bold;">vAyTe (c) 2018 </h5>
          </center>
      </div>
    </div>
    <center>
              <%= will_paginate @activities, renderer: BootstrapPagination::Rails %>
    <center>
  </div>
  
</div>