<div id="user-info" class="well">
  <div class="text-center">
    <%= render 'shared/avatar', user: @user %><br>
    <h5><%= link_to @user.name, @user %></h5>
  </div>
  <%= link_to followers_user_path(@user) do %>
    <h5> <%= @user.followers_count %> Followers </h5>
  <% end %>
  <%= link_to friends_user_path(@user) do %>
    <h5> <%= @user.follow_count %> Following </h5>
  <% end %>
  <h5>
    <%= fa_icon 'shield' %>
    <%= pluralize(@user.posts_count, 'post') %>
  </h5>

  
  <h5><i class="fa fa-clock-o"></i> Joined <%= formatted_time(@user.created_at) %></h5>
</div>